# Docker Compose configuration file
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: zas
      POSTGRES_USER: zasuser
      POSTGRES_PASSWORD: zas_pass
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  web:
    user: root
    build: .
    ports:
      - "8000:8000"
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: zas
      DATABASE_USER: zasuser
      DATABASE_PASSWORD: zas_pass
      DATABASE_PORT: 5432
      REDIS_URL: redis://redis:6379/1
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
    volumes:
      - .:/code
      - ./staticfiles:/code/staticfiles   # shared with nginx
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./staticfiles:/code/staticfiles   # same volume as web
    depends_on:
      - web
  celery:
    build: .
    command: celery -A zas worker -l info
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: zas
      DATABASE_USER: zasuser
      DATABASE_PASSWORD: zas_pass
      DATABASE_PORT: 5432
      REDIS_URL: redis://redis:6379/1
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
    volumes:
      - .:/code
    depends_on:
      - db
      - redis
      - web

  celery-beat:
    build: .
    command: celery -A zas beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler --schedule=/code/celerybeat/celerybeat-schedule
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: zas
      DATABASE_USER: zasuser
      DATABASE_PASSWORD: zas_pass
      DATABASE_PORT: 5432
      REDIS_URL: redis://redis:6379/1
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
    volumes:
      - .:/code
      - ./celerybeat:/code/celerybeat
    depends_on:
      - redis
      - db
      - web
      - celery


volumes:
  db_data:
  redis_data:
