Django>=5.0
djangorestframework
django-environ
django-celery-beat
django-crontab
django-encrypted-model-fields
mysqlclient
netmiko
pyasn1==0.4.8
pysnmp==4.4.12
gitpython>=3.1.0
channels>=4.3.1
asyncssh>=2.21.0
tacacs_plus
paramiko
openpyxl
gunicorn
celery
redis
flower
python-dotenv
pandas
pytest
pytest-django
requests
ntc_templates
textfsm
netaddr
pillow

