Django>=5.0
djangorestframework
django-environ
django-celery-beat
django-crontab
django-encrypted-model-fields
mysqlclient
netmiko
pysnmp
tacacs_plus
paramiko
openpyxl
gunicorn
celery
redis
python-dotenv
pandas
pytest
pytest-django
requests
ntc_templates
textfsm

# Development tools
ipython
ipython-pygments-lexers
rich
