Django>=5.0
djangorestframework
django-environ
django-celery-beat
django-crontab
mysqlclient
netmiko
pyasn1==0.4.8
pysnmp==4.4.12
tacacs_plus
paramiko
openpyxl
gunicorn
celery
redis
python-dotenv
pandas
pytest
pytest-django
requests
ntc_templates
textfsm